body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;
	color		: #222;
	background-color: #BBB;
	font-family	: Arial;
	font-size	: 100%;
}
#info .top {
	position	: absolute;
	top		: 0;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}
.row {
    display:block;
    margin: 0 auto;
}
.col {
    float: left;
    padding: 10px;
}
