#container {
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: center;
}
#board {
    position: relative;
    margin: 0 auto;
    display: inline-block;
}
#side {
    font-family: helvetica, sans-serif;
    padding: 10px;
    width: 480px;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.buttonpanel {
    position: relative;
    text-align: center;
    margin: 5px;
}
#status {
    margin: 5px;
    font-weight: bolder;
    text-align: center;
    color: black;
    font-size: 15px;
    position: relative;
}
#fenBox {
    margin: 5px;
    clear: left;
    color:white;
    background: black;
    position: relative;
    text-align: left;
    border: 1px solid red;
}

#fen {
    font-weight: lighter;
    font-size: 10px;
    overflow-x: visible;
}
#pgnBox {
    background: black;
    color: white;
    height: 330px;
    width: 130px;
    padding: 3px;
    margin: 3px;
    float:right;
    position: relative;
    text-align: left;
    border: 1px solid red;
}
#pgn {
    text-align: left;
    overflow: auto;
    font-weight: lighter;
    font-size: 14px;
    height: 260px;
}
.littleButton {
    background: #ffec64;
    font-size: 70%;
    margin: 10px;
}

.littleButton:hover {
    background: #ffeeee;
}

select {
    background: #ffeeee;
    width: 77px;
    margin: 5px;
}

#pgnBox span {
    color: gray;
}
#gaugebox {
    position: relative;
    float: left;
}
#optionsBox {
    text-align: right;
}

.yellowButton {
    /* box-shadow: 0px 1px 0px 0px #fff6af; */
    background: #ffec64;
    /* background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%); */
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family: Arial, sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    width:80px;
}

.yellowButton:hover {
    background: #ffeeee;
    /* background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%); */
}

.yellowButton:active {
    position:relative;
    top:1px;
}


