body {
    margin: 0;
    padding: 0;
    background: #BBBBBB;
    height: 100%;
    font-family: helvetica Neue, helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: helvetica, sans-serif;
    margin: 5px;
    padding: 0;
    position: relative;
}
header {
    text-align: center;
    font-family: helvetica, sans-serif;
    margin: 10px;
}

header > nav > ul > li {
    display:inline-block;
}

.banner {
    text-align: center;
    font-size: 16px;
    font-family: helvetica, sans-serif;
    margin: 5px;
    padding: 0;
    position: relative;
}

footer {
    position: relative;
    clear: both;
    background: black;
    color: white;
    text-align: left;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 0 0 0;
    padding: 10px;
    height: 32px;
}

footer a {
    color: white;
}
footer p {
    margin: 0;
}

em {
    text-decoration: underline;
}

.row {
    clear: both;
    margin: 0;
    text-align: center;
}
.leftcol {
    width: 440px;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, sans-serif;
}
.rightcol {
    width: 600px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-family: helvetica, sans-serif;
}

.blueButton {
    background-color:#4467c7;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
    border:1px solid #1829ab;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, sans-serif;
    font-size:14px;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f2766;
    width: 130px;
}
.blueButton:hover {
    background-color:#5f2acb;
}
.blueButton:active {
    position:relative;
    top:1px;
}
.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}